@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host, form {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.search-form {
  justify-content: flex-end;
  padding-left: 20px;
  &__input {
    width: 125px;
    color: $main-text-color;
    padding: $small-padding 35px $small-padding $small-padding;
    background-color: transparent;
    border-bottom: 1px solid $main-text-color;
    transition: all $fast-animation ease;

    &:focus {
      outline: 0;
      width: 300px;
      border-color: $main-pink;
      transition: all $fast-animation ease;
    }
  }
  &__icons {
    font-size: 1.25em;
    position: relative;
    cursor: pointer;
    left: -25px;
    width: 25px;
    & .fas {
      color: $main-text-color;
    }
  }
}
