
<article *ngIf="news" class="panel shadow-block news-item">
  <div class="news-item__header">
    <h2 class="news-item__header--title">{{ news.getTitle() | trimString: 90 }}</h2>
    <div class="header-info">
      <div class="row header-info__author">
        <img class="header-info__author--image" [src]="news.author.getImage()" alt="*ControlUser Image*">
        <a class="header-info__author--name">
          {{ news.author.getRealName() +' ('+ news.author.getNickname()+'),' }}
        </a>
      </div>
      <div class="header-info__date">{{ news.getDate() | dateTransform }}</div>
      <div class="header-info__comments">
        {{ news.getCommentNumber() }}
        <i class="main far fa-comment-dots"></i>
      </div>
      <div class="header-info__actions">
        <span>{{ news.rating }}<i class="main fas fa-star"></i></span>
        <button *ngxPermissionsOnly="['Admin']"
              (click)="deleteNews(news.getId())">
          <i class="main far fa-trash-alt"></i>
        </button>
      </div>
    </div>
    <span class="row header-tags">
      <div class="header-tags__item" *ngFor="let category of news.getCategories()">
        {{ category.getName() }}
      </div>
    </span>
  </div>

  <div class="shadow-block-sm news-item__image">
    <img [src]="news.getImage()" alt="RouteNews image">
  </div>
  <div class="news-item__content" [innerHTML]="textContent">

  </div>
  <div class="news-item__bottom">
    <button class="btn btn-default btn-read-more" (click)="goToNews($event)">
      Читать далее <i class="fas fa-long-arrow-alt-right"></i>
    </button>
  </div>
</article>
