
<a href="#" class="pagination__previous">
  <i class="pagination__previous--icon fas fa-angle-left"></i>
  <div class="pagination__previous--text">Предыдущая</div>
</a>

<a href="#" class="pagination__page dots">...</a>
<a href="#" class="pagination__page previous">{{ mockPagination['large_back'] }}</a>
<a href="#" class="pagination__page dots">...</a>

<a href="#" class="pagination__page previous">{{ mockPagination['previous'] }}</a>
<a href="#" class="pagination__page current">{{ mockPagination['current'] }}</a>
<a href="#" class="pagination__page next">{{ mockPagination['next'] }}</a>

<a href="#" class="pagination__page dots">...</a>
<a href="#" class="pagination__page previous">{{ mockPagination['large_forward'] }}</a>
<a href="#" class="pagination__page dots">...</a>

<a href="#" class="pagination__next">
  <div class="pagination__next--text">Следующая</div>
  <i class="pagination__next--icon fas fa-angle-right"></i>
</a>
