@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  gap: $normal-padding;
  grid-template: "n s"
                 / 1fr auto;
}
.news-block {
  display: flex;
  grid-area: n;
  flex-direction: column;
  &__title {
    padding: $normal-padding 0;
  }
  &__form {
    height: 100%;
    &--line{
      display: block;
      padding: $small-padding;
      margin-bottom: $normal-padding;
      &-label {
        margin-bottom: $tiny-padding;
      }
    }
    &--image {

    }
    &--bottom {
      height: 100%;
      .add-bnt {
        margin-left: auto;
        margin-bottom: auto;
        height: 40px;
      }
    }
  }
}
.sidebar-block {
  display: flex;
  grid-area: s;
  flex-direction: column;
  width: 300px;
  &:last-child {
    margin-bottom: 0;
  }
}
