@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  gap: $normal-padding;
  grid-template: "n s"
                 / 1fr auto;
}
.news-block {
  display: flex;
  grid-area: n;
  flex-direction: column;
}
.sidebar-block {
  display: flex;
  grid-area: s;
  flex-direction: column;
  width: 300px;
  &:last-child {
    margin-bottom: 0;
  }
}
