@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  gap: $normal-padding;
  grid-template: "a s" auto / 1fr 300px;
}
.admin-panel {
  grid-area: a;
  &__header {
    margin-bottom: $normal-padding;
  }
  &__actions {
    &--simple {
      margin-bottom: $huge-padding;
      & > * {
        margin-right: $normal-padding;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &--forms {

    }
  }
}
.sidebar-block {
  grid-area: s;
}

.form-category {
  &__line {
    margin-bottom: $big-padding;
  }
  &__bottom {

  }
}
