@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.demo {
  &-editor {
    width: 100%;
    margin-bottom: $normal-padding;
  }
}
