@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

$height-base: 40px;

:host {
  display: flex;
  min-height: $height-base;
  width: 100%;
  align-items: center;
}
.ng-select {
  width: 100%;
}
.category-select {
  min-height: $height-base !important;

  &::ng-deep .ng-select-container {
    background-color: $gray-default !important;
    border-color: $main-text-color !important;
    min-height: $height-base;
  }
}
