<section class="full-news-block">
  <app-full-news-block class="full-news-block__news" [news]="fullNews"
                       (editClick)="onEdit($event)" (favoritesToggle)="onFavorites($event)">
  </app-full-news-block>

  <section class="panel shadow-block full-news-block__form">
    <h4 class="full-news-block__form-header">
      Добавить коментарий
    </h4>
    <app-comment-form class="full-news-block__form-body"
                      (addComment)="onAddComment($event)">
    </app-comment-form>
  </section>


  <section *ngIf="commentsList && commentsList.length > 0" class="panel shadow-block column full-news-block__comments">
    <h4 class="full-news-block__comments-total">
      Комментарии: {{commentsList.length}}
    </h4>
    <app-comment-full-item class="full-news-block__comments-item"
                           *ngFor="let comment of commentsList"
                           [comment]="comment" (commentDelete)="onDeleteComment($event)">
    </app-comment-full-item>
  </section>
</section>

<section class="sidebar-block">
  <app-ad-item-block></app-ad-item-block>
  <app-category-block></app-category-block>
  <app-top-news-block></app-top-news-block>
</section>
