@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  width: 100%;
  margin-bottom: $normal-padding;
}
.category-item {
  height: 100%;
  &__header {
    display: block;
    cursor: pointer;
    padding-top: $normal-padding;
    margin: 0 $big-padding;
    border-bottom: 2px solid $main-text-color;
    &--title {
      font-family: $extra-font;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      padding: $normal-padding;
    }
  }
  &__content {
    &--menu {
      box-sizing: border-box;
      padding: 0 $big-padding;
      margin-top: 0;
      margin-bottom: $normal-padding;
      list-style: none;
      &:last-child {
        border-bottom: 1px solid #3f4043;
      }
    }
  }
}

.list-item__link {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: $normal-padding;
  padding-left: $normal-padding;
  padding-top: $big-padding;
  border-bottom: 1px solid rgba($main-text-color, .25);
  &:last-child{
    margin-bottom: 0;
  }
  &--text {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: $standart-font;
    font-size: $normal-font-size;
  }
  &--info{
    &-counter {
      letter-spacing: 1px;
      font-weight: bold;
      margin: 0;
      font-family: $standart-font;
      font-size: $normal-font-size;
      width: 50px;
      text-align: center;
    }
  }
}
