
<li class="top-small" *ngIf="news">
  <div class="top-small__content">
    <div class="top-small__content--title">
      <a href= "#">
        <span> {{news.title}} </span>
      </a>
    </div>
  </div>
  <div class="top-small__info">
    <div>
      {{ news.author.first_name + news.author.last_name }}
    </div>
    <div>
      {{ news.date | date: 'dd.MM.yyyy' }}
      <i class="far fa-calendar-alt"></i>
    </div>
    <div>
      {{ news.comments }}
      <i class="far fa-comment-dots"></i>
    </div>
  </div>
</li>
