@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  margin-bottom: $normal-padding;
}
.news-small {
  &__content {
    height: 100%;
    padding: $normal-padding 0;
    &--title {
      cursor: pointer;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $normal-font-size;
    padding-bottom: $normal-padding;
    i {
      font-size: $small-font-size;
    }
  }
}
