
<li class="news-small" *ngIf="news">
  <div class="news-small__content">
    <div class="news-small__content--title" (click)="goToNews($event)">
      <span> {{news.getTitle()}} </span>
    </div>
  </div>

  <div class="news-small__info">
    <div class="news-small__info--author">
      {{ news.author.getRealName() | trimString: 15 }}
    </div>
    <div class="news-small__info--comment">
    {{ news.getCommentNumber() }}
    <i class="main far fa-comment-dots"></i>
  </div>
    <div class="news-small__info--rating">
      {{ news.getRating() }}
      <i class="main fas fa-star"></i>
    </div>
    <div class="news-small__info--date">
      {{ news.getDate() | date: 'dd.MM.yyyy' }}
      <i class="main far fa-calendar-alt"></i>
    </div>
  </div>
</li>
