@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  button {
    width: 40px;
    font-size: $huge-font-size;
    margin-right: $small-padding;
    &:last-child {
      margin-right: 0;
    }
  }
}
