@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  grid-template: "n i" 1fr
                 "r i" auto;
  align-items: center;
}

.user-info {

  &__image {
    display: flex;
    position: relative;
    grid-area: i;
    height: 40px;
    width: 40px;
    border-radius: $normal-border-radius;
    padding: 1px;
    background: $bg-gradient;

    &--img {
      border-radius: $normal-border-radius;
      width: 100%;
      height: 100%;
    }
    &:hover &--img {
      opacity: 0.4;
    }

    &--logout {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      cursor: pointer;
      font-size: 30px;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $main-text-dark-color;
    }
    &:hover &--logout {
      opacity: 1;
    }
  }
  &__name {
    grid-area: n;
    font-size: $huge-font-size;
    text-align: end;
    padding: 0 $normal-padding;
  }
  &__role {
    grid-area: r;
    text-align: end;
    font-size: $small-font-size;
    padding: 0 $normal-padding;
  }
}
