@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  grid-template: "n i" 1fr
                 "r i" auto;
  align-items: center;
}

.user-info {

  &__image{
    grid-area: i;
    height: 40px;
    width: 40px;
    border-radius: $normal-border-radius;
    padding: 1px;
    background: $bg-gradient;
  }
  &__name {
    grid-area: n;
    font-size: $big-font-size;
    text-align: end;
    padding: 0 $normal-padding;
  }
  &__role {
    grid-area: r;
    text-align: end;
    font-size: $small-font-size;
    padding: 0 $normal-padding;
  }
}
