@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 50px;
  padding-right: $normal-padding;
  justify-content: flex-start;
}

.navigations-block__item {
  margin-right: $small-padding;
  -webkit-transition: width $normal-animation ease-in-out;
  transition: width $normal-animation ease-in-out;

  & a {
    padding: $small-padding;
    border-radius: $normal-border-radius;
    text-transform: uppercase;
    font-weight: lighter;
    transition: .25s;
  }
  & a:hover {
    & span:after {
      color: $main-pink;
    }
  }
  & a.active {
    font-weight: bold;
    text-shadow: 2px 2px 0px $main-text-dark-color, 5px 4px 0px rgba(0,0,0,0.15);
    color: $main-pink;
  }
  &:last-child {
    margin-right: 0;
  }
}

