@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;

}

.navigations-block__item {
  margin-right: $small-padding;
  -webkit-transition: width $normal-animation ease-in-out;
  transition: width $normal-animation ease-in-out;

  & a {
    padding: $small-padding;
    border-radius: $normal-border-radius;
    text-transform: uppercase;
    font-weight: lighter;
    transition: .25s;
  }
  & a:hover {
    & span:after {
      color: $main-pink;
    }
  }
  & a.active {
    color: $main-pink;
  }
  &:last-child {
    margin-right: 0;
  }
}

