
$main-color: #262729;
$shadows-color: #1D1D1F;
$main-bg-color: #303133;
//#303133 #262729 #1D1D1F #171719

$main-title-color: #E6E6E6;
$main-text-color: #f9f8fd;
$main-text-dark-color: #000000;

$gray-default: lighten($main-color, 10%);
$gray-light: lighten($main-color, 35%);
$gray-dark: darken($main-color, 35%);

$main-pink: #e5127d;
$main-orange: #f16b44;
$main-yellow: #f7c626;
$main-blue: #368cbf;

$bg-gradient: linear-gradient(50deg,#f7c626 15%,#f16b44 40%,#e5127d 85%);


