
$main-color: #393E46;
$main-bg-color: #2d2d2d;
$footer-bg: #a39e9e;

$main-title-color: #f6f5f3;
$main-text-color: #f9f8fd;
$main-text-dark-color: #000000;

$main-pink: #e5127d;
$main-orange: #f16b44;
$main-yellow: #f7c626;
$main-blue: #368cbf;

$bg-gradient: linear-gradient(50deg,#f7c626 15%,#f16b44 40%,#e5127d 85%);


