$main-color: #2b517a;
$main-bg-color: #F3F3F3;
$footer-bg: #d7d7d7;

$main-red: #f05f5f;
$main-blue: #6382c9;
$main-green: #63c985;

$block-b-radius: 5px;
$bg-gradient: linear-gradient(-50deg, #2b517a, #99b3cd);
$light-bg-gradient: linear-gradient(to top, #f2f4f7, #fff);
$light-hover-bg-gradient: linear-gradient(to top, #e1e5ea, #f2f6f9);
$bright-hover-bg-gradient: linear-gradient(61deg, #67a4f2, #50aff2);
