// Fonts
$extra-font-size: 24px;
$big-font-size: 20px;
$normal-font-size: 14px;
$small-font-size: 12px;
$tiny-font-size: 10px;
$base-line-height: 1.25em;

// Padings
$extra-padding: 200px;
$huge-padding: 25px;
$big-padding: 15px;
$normal-padding: 10px;
$small-padding: 5px;
$tiny-padding: 2px;

// Borders
$big-border-radius: 3px;
$normal-border-radius: 3px;

// Shadows
$big-shadow: 10px;
$normal-shadow: 6px;
$small-shadow: 3px;
$big-smoothness: 10px;
$normal-smoothness: 6px;
$small-smoothness: 2px;

// Icons
$normal-icon-size: 24px;

// Heights
$normal-border-height: 2px;

// Speeds
$normal-animation: 0.5s;
