// Fonts
$small-font-size: 14px;
$normal-font-size: 16px;
$big-font-size: 18px;
$base-line-height: 1.25em;

// Padings
$big-padding: 15px;
$normal-padding: 10px;
$small-padding: 5px;

// Borders
$big-border-radius: 3px;
$normal-border-radius: 3px;

// Shadows
$big-shadow: 10px;
$normal-shadow: 6px;
$small-shadow: 3px;
$big-smoothness: 10px;
$normal-smoothness: 6px;
$small-smoothness: 2px;

// Icons
$normal-icon-size: 24px;

// Heights
$normal-border-height: 2px;
