@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

.footer {
  text-align: center;
  font-weight: normal;
  background-color: $main-color;

  &__border {
    height: $normal-border-height;
  }

  &__content {
    display: grid;

    &--main {
      display: grid;
      grid-gap: $normal-padding;
      padding: 0 $big-padding;
      grid-template-columns: 1.5fr 2fr 2fr;
      .col {
        margin: $normal-padding 0;
      }
    }
    &--small {
      display: grid;
      grid-gap: $normal-padding;
      grid-template-columns: 1fr 3fr 1fr;

      padding: $small-padding $big-padding;
      align-items: center;
      background-color: $shadows-color;
    }
  }

}

.copyright-block {
  text-align: left;
}
.reference-links {
  text-align: left;

  &__item {
    margin-right: $big-padding;
  }
  &:last-child {
    margin-right: 0;
  }
}
.social-links {

}
