@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  margin-bottom: $normal-padding;
  display: flex;
  position: relative;
  width: 100%;
}
.adv-item {
  display: block;
  width: 100%;
  &__image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: $normal-border-radius;
  }
  &__close {
    float: right;
    margin-top: $small-padding;
    margin-right: $small-padding;
    & .fas {
      color: $main-text-color;
    }
  }
  &__hint {
    position: absolute;
    bottom: $small-padding;
    right: $small-padding;
    font-size: $small-font-size;
  }
}
