
<ng-progress [spinner]="false" [spinnerPosition]="'left'" [thick]="false" [meteor]="true"
             [color]="'white'" [ease]="'linear'" #progressBar>
</ng-progress>

<div class="wrapper">
  <app-header class="shadow-block" [title]="'Best news-site ever'"></app-header>

  <div class="content-block">
    <router-outlet></router-outlet>
    <div class="loading-block">Загрузка контента..</div>
  </div>

  <app-footer class="shadow-block" ></app-footer>

  <a class="wrapper__elevator" [class.show]="isScroled" (click)="scrollToTop($event)">
    <i class="wrapper__elevator--arrow fas fa-arrow-circle-up"></i>
  </a>
</div>

