@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  gap: $normal-padding;
  grid-template: "f s" auto
                 "m s" 1fr
                 / 1fr auto;
}
.filters-block {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  grid-area: f;
}
.news-block {
  display: flex;
  grid-area: m;
  flex-direction: column;
}
.sidebar-block {
  display: flex;
  grid-area: s;
  flex-direction: column;
  width: 300px;
  &:last-child {
    margin-bottom: 0;
  }
  &__category {
    width: 100%;
    margin-bottom: $normal-padding;
  }
}
