
<section class="panel filters-block">
  You watch on main-page!
  <button class="btn btn-default" (click)="loadData($event)">Load Users</button>
</section>

<section class="news-block">
  <app-news-item-block></app-news-item-block>
  <app-news-item-block></app-news-item-block>
  <app-news-item-block></app-news-item-block>
</section>

<section class="sidebar-block">
  <app-ad-item-block></app-ad-item-block>
  <app-ad-item-block></app-ad-item-block>
  <app-ad-item-block></app-ad-item-block>
</section>
