@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  gap: $normal-padding;
  grid-template: "f f" 1fr
                 "m s" auto
                 / 1fr 300px;
}
.filters-block {
  grid-area: f;
  height: 50px;
}
.news-block {
  display: grid;
  gap: $small-padding;
  grid-area: m;
}
.sidebar-block {
  display: grid;
  max-height: 60%;
  grid-template-rows: 50%;
  gap: $small-padding;
  grid-area: s;
}
