
<section class="filters-block">
  <app-period-filter class="filters-block__period"></app-period-filter>
  <app-rating-filter class="filters-block__rating"></app-rating-filter>
</section>

<section class="news-block">
  <app-news-item-block></app-news-item-block>
  <app-news-item-block></app-news-item-block>
  <app-pagination></app-pagination>
</section>

<section class="sidebar-block">
  <div class="sidebar-block__category">
    <app-category-select></app-category-select>
  </div>

  <app-ad-item-block></app-ad-item-block>
  <app-ad-item-block></app-ad-item-block>
  <app-ad-item-block></app-ad-item-block>

  <app-demo-functions></app-demo-functions>
</section>
