@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  gap: $normal-padding;
  grid-template: "f s" auto
                 "m s" 1fr
                 / 1fr auto;
}
.filters-block {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  grid-area: f;
}
.news-block {
  display: flex;
  grid-area: m;
  flex-direction: column;
}
.empty-block {
  @extend .news-block;
  padding-top: 100px;
  font-family: $extra-font;
  text-align: center;
  user-select: none;
  &__message {
    font-weight: bold;
    text-transform: uppercase;
    font-size: $big-font-size;
    letter-spacing: 1px;
  }
  &__image {
    align-items: center;
    justify-content: center;
    &--text {
      font-weight: bold;
      font-size: 8em;
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
    }
  }
}
.sidebar-block {
  grid-area: s;
  &__category {
    width: 100%;
    margin-bottom: $normal-padding;
  }
}
