
<section class="filters-block">
  <app-period-filter class="filters-block__period"></app-period-filter>
</section>

<section class="news-block">
  <app-news-item-block></app-news-item-block>
  <app-news-item-block></app-news-item-block>
</section>

<section class="sidebar-block">
  <div class="sidebar-block__category">
    <app-category-select></app-category-select>
  </div>

  <app-ad-item-block></app-ad-item-block>
  <app-category-item-block></app-category-item-block>
  <app-top-news-block></app-top-news-block>

  <app-demo-functions></app-demo-functions>
</section>
