
<span class="row comment__header">
  <img class="comment__header--author-image" [src]="comment.author.getImage()" alt="*ControlUser Image*">
  <a class="comment__header--author-name">
    {{ comment.author.getNickname()}},
  </a>
  <div class="comment__header--date">
      {{ comment.getDate() | dateTransform }}
  </div>
  <div class="comment__header--author-rating">
    <b>{{ comment.getRating() }}</b>
    <button *ngxPermissionsOnly="['User','Admin']"
            [title]="onLiked? 'UnLike' : 'Like'"
            [class.liked]="onLiked"
            (click)="OnLike($event)">
      <i [class.fas]="onLiked" [class.far]="!onLiked" class=" fa-heart"></i>
    </button>

    <button *ngxPermissionsOnly="['Admin']" [title]="'Удалить коментарий'" (click)="OnDelete($event)">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
</span>

<div class="comment__wrapper">
  <div class="comment__wrapper--content">
    <p>{{ comment.getText() }}</p>
  </div>
</div>

<span class="comment__footer">
    <!--<button class="btn btn-default" (click)="OnDelete($event)">Удалить</button>-->
</span>




