@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: flex;
  width: 100%;
  height: inherit;
  flex-direction: column;
}

.comment__header {
  &--date {
    margin: auto 0;
  }
  &--author{
    &-image {
      height: $normal-icon-size;
      width: auto;
      background-color: $main-text-color;
      border-radius: $normal-border-radius;
    }
    &-name {
      margin: auto 0;
    }
    &-rating {
      margin-left: auto;
      margin-bottom: auto;
      margin-top: auto;
    }
  }
  & > * {
    margin-right: $normal-padding;
    &:last-child {
      margin-right: 0;
    }
  }
}

.comment__wrapper {
  &--content {

  }
}
.comment__footer{

}
