@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

.header {
  display: grid;
  align-items: center;
  text-align: center;
  font-weight: normal;

  grid-gap: $normal-padding;
  grid-template-columns: 1fr 3fr 1fr 1fr;

  padding: $normal-padding;
  background-color: $main-color;

  &__logo {

  }
  &__navigations {

  }
  &__user-info {

  }
  &__login {

  }
}
.col {
  padding: $small-padding 0;
}
