@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  background-color: $main-color;
}

.header {
  display: grid;
  width: $main-content-wight;
  align-items: center;
  text-align: justify;
  font-weight: normal;

  grid-template-columns: auto auto 1fr auto;
  margin: $normal-padding auto;

  &__logo {
    text-align: start;
    height: 42px;
    width: 200px;
  }
}

