@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: grid;
  gap: $normal-padding;
  grid-template: "n s" / 1fr auto;
}
.news-block {
  display: flex;
  grid-area: n;
  flex-direction: column;
  &__title {
    padding: $normal-padding 0;
  }
  &__form {
    height: 100%;
    &--line{
      display: block;
      padding: $small-padding;
      margin-bottom: $normal-padding;
      &-label {
        margin-bottom: $tiny-padding;
      }
      &-input {
        color: $main-text-dark-color;
        background-color: $main-text-color;
        height: 36px;
      }
    }
    &--image {
      height: 300px;
      border-radius: $normal-border-radius;
      padding: $small-padding;
      margin-bottom: $normal-padding;
    }
    &--bottom {
      height: 100%;
      &-actions {
        margin-left: auto;
        margin-bottom: auto;
        & > * {
          margin-right: $normal-padding;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.error-block {
  .error {
    font-size: $big-font-size;
    color: $main-pink
  }
}

.sidebar-block {
  grid-area: s;
}
