@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.btn-wrapper {
  margin-bottom: $normal-padding;
  button {
    margin-right: $normal-padding;
    &:last-child {
      margin-right: 0;
    }
  }
}
.demo {
  &-editor {
    margin-bottom: $normal-padding;
  }
  &-content {
    width: 100%;
  }
}

