@import "~src/assets/base-css/theme";
@import "~src/assets/base-css/vars";

:host,.link-wrapper {
  display: grid;
  width: 100%;
  //font-family: 'Graduate', cursive;
  grid-template: "i t" 1fr
                 "i h" auto;
  align-items: center;
}

.full-logo {
  &__image {
    grid-area: i;
    width: auto;
    height: 100%;
  }
  &__title {
    grid-area: t;
    font-size: $big-font-size;
    padding-left: $normal-padding;
    padding-bottom: $small-padding;
    text-shadow: 2px 2px 0px $main-text-dark-color, 5px 4px 0px rgba(0,0,0,0.15);
  }
  &__hint {
    grid-area: h;
    font-size: $tiny-font-size;
    padding-left: $normal-padding;
  }
}
