/* You can add global styles to this file, and also import other style files */
// Custom files
@import "./assets/base-css/vars";
@import "./assets/base-css/theme";
@import "./assets/base-css/normalize";

// Other imports
// ...


body, html {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;

  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $main-bg-color;
  color: $main-text-color;
}
app-header {
  display: block;

}
app-footer {
  display: block;

}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  &__elevator {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 60px;
    height: 100%;
    color: #d5dddf;
    text-align: center;
    cursor: pointer;
    transform: translateY(0);
    will-change: transform;

    &--arrow {
      position: relative;
      top: 50%;
      margin-top: -15px;
      font-size: 2em;
      opacity: 0.5;
    }
    &.show {
      display: block;
      opacity: .25;
      background-color: $main-color;
      &:hover {
        opacity: .5;
      }
    }
  }
}
.content-block {
  margin: $huge-padding $extra-padding;
}


// Визуальные общие стили
.shadow-block {
  -webkit-box-shadow: 0 $big-shadow 6px -6px $main-color;
  -moz-box-shadow: 0 $big-shadow 6px -6px $main-color;
  box-shadow: 0 $normal-shadow $normal-smoothness  0px $shadows-color;
}
.gradient {
  background: $bg-gradient;
  color: $main-text-dark-color;
}
.panel {
  padding: $normal-padding;
  background-color: $gray-default;
  border-radius: $normal-border-radius;
  box-shadow: 0 $small-shadow $normal-smoothness  0px $shadows-color;
}

//  Стили вспомогательных элементов
.btn {
  margin: 5px;
  font-weight: 500;
  padding: 5px 10px;
  border: none;
  border-radius: $normal-border-radius;

  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;

  &-default {
    border-width: 0;
    overflow: hidden;
    color: $main-text-dark-color;
    background-color: $main-text-color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &:hover{
      opacity: 0.75;
      box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    &:focus{
      outline:0;
    }
    &:active{
      background-color: $gray-light;
      background-size: 100%;
      transition: background 0.25s;
    }
  }
  &-gradient {
    border-width: 0;
    overflow: hidden;
    background: $bg-gradient;
    color: $main-text-dark-color;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &:hover{
      opacity: 0.75;
      box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    &:focus{
      outline:0;
    }
    &:active{
      background-size: 100%;
      opacity: 0.45;
      transition: background 0.25s;
    }
  }
}

.fab {
  color: $main-pink;
}
.link {
  text-decoration: none;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;

    border-width: 0 0 1px;
    border-style: solid;
  }
}
blockquote {
  padding: 0 $big-padding;
  height: fit-content;
  border-left: 5px solid $main-text-color;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
blockquote p {
  margin: 0;
  text-align: left;
  font-size: 12pt;
  line-height: 1.4;
}
blockquote footer {
  text-align: right;
  font-style: italic;
}
blockquote footer:before {
  content: '— ';
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: '';
}
blockquote:nth-of-type(even) footer:after {
  content: ' —';
}




// Ну совсем не нужные.. (для редактирования)
div.loading-block{
  height: 100px;
  color: $main-text-color;
  display: none;
}
router-outlet + div.loading-block{
  display: block;
}
// ScrollBar
body::-webkit-scrollbar-track {
  background-color: $gray-dark;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  background-color: $gray-light;
}
