/* You can add global styles to this file, and also import other style files */
// Custom files
@import "./assets/base-css/vars";
@import "./assets/base-css/theme";
@import "./assets/base-css/normalize";

// Other imports
// ...

html {

}
body {
  margin:0;
  padding:0;

  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $main-bg-color;
  color: $main-text-color;
}
app-header {
  display: block;

}
app-footer {
  display: block;

}

.wrapper {
  display: block;
}

.content-block {
  padding: $normal-padding $big-padding;
}

.shadow-block {
  -webkit-box-shadow: 0 $big-shadow 6px -6px $main-color;
  -moz-box-shadow: 0 $big-shadow 6px -6px $main-color;
  box-shadow: 0 $normal-shadow $normal-smoothness  0px $shadows-color;
}

.gradient {
  background: $bg-gradient;
  color: $main-text-dark-color;
}

//  Стили вспомогательных элементов
.btn {
  margin: 5px;
  font-weight: 500;
  padding: 5px 10px;
  border: none;
  border-radius: $normal-border-radius;

  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;

  &-default {
    border-width: 0;
    overflow: hidden;
    background-color: $main-color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &:hover{
      opacity: 0.75;
      box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    &:focus{
      outline:0;
    }
    &:active{
      background-color: $main-bg-color;
      background-size: 100%;
      opacity: 0.75;
      transition: background 0.25s;
    }
  }
  &-gradient {
    border-width: 0;
    overflow: hidden;
    background: $bg-gradient;
    color: $main-text-dark-color;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &:hover{
      opacity: 0.75;
      box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    &:focus{
      outline:0;
    }
    &:active{
      background-size: 100%;
      opacity: 0.45;
      transition: background 0.25s;
    }
  }
}

.fab {
  color: $main-pink;
}
.link {
  text-decoration: underline;
}



// Ну совсем не нужные.. (для редактирования)
div.loading-block{
  height: 100px;
  color: $main-text-color;
  display: none;
}
router-outlet + div.loading-block{
  display: block;
}
