<li class="list-item">
  <a href = "http://localhost:4200" class="list-item__link">
    <span class="list-item__text">{{categorys['name']}}</span>
    <strong class="list-item__counter" title="Amount of new publishing per 24 hours">+4</strong>
  </a>
</li>
<li class="list-item">
  <a href = "http://localhost:4200" class="list-item__link">
    <span class="list-item__text">Something</span>
    <strong class="list-item__counter" title="Amount of new publishing per 24 hours">+4</strong>
  </a>
</li>
